*{
    margin: 0;
    padding: 0;
}
:root{
    --principal:#006fff;  
    --secundaria:#2d2d2d; 
    --Textos:#1E1E1E; 
    --botoes:#FF5733;
    --bg-100:#F5ECD7; 
    --bg-200:#ebe2cd; 
    --bg-300:#c2baa6;
      

}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}
header{
    text-shadow: 1px 1px black;
    background-color:var(--principal);
    padding: 20px;
    border-bottom: 1px solid white;
}
header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > nav > #Titulo{
    text-align: center;
    margin:0px 20px 0px 20px;
}
header > nav > section.itens-header{
    padding: 10px;
    color: white;
    border: 1px solid white;
}
main{
    flex-grow: 1;
    padding: 10px;
    background-color: var(--secundaria);
    min-height: 100vh;
 
}
main > section#Slide-Carros{
    background: var(--bg-200) url(../img/Fiat-cronos-10.png) no-repeat  fixed center  center ;
    background-size: contain ;
    border: 1px solid white;
    height: 400px;
    width: 90%;
    margin:  auto;
}
main section#Carros{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    height: 300px;
    width: 90%;
    margin: 20px  auto;
    margin-bottom: 10px;
    background-color:var(--bg-200);

}
section#Carros > .ver_carros{
    height: 100%;
    min-width: 180px;
    margin: 0px 10px 0px 10px;
    border: 1px solid white;
    background-color:var(--bg-300);
}
section#Carros > .ver_carros > select{
    border: 1px solid #000000ad;
    background-color: black;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 29px;
    font-size: .9em;
    
}
section#Carros > .acao{
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 70px;
    width: 160px;
    border: 1px solid white;
    margin:10px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box;
    justify-content: center;
}
footer{
    border-top: 1px solid white;
    display:flex;
    width: 100%;
    bottom: 0px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: var(--principal);
}
footer > section{
    display: flex;
    align-items: center;
    color: white;
    margin: 15px;
    padding: 10px;
    width: 80%;
    border-radius: 4px;
    border: 1px solid white;
    
}
footer #creditos{
    margin-right: 20px;

}
ul{
    display: flex;
}
ul li{
    margin-left: 10px;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
}
ul li a{
    color: white;
    text-decoration: none;
}
#contatos{
    display: none;
}


/*RESETS*/
a{
    text-decoration: none;
    color: white;
}
option{
    font-size: .8em;
    color: black;
    background-color: white;
}
input[type='button']{
    border: 1px solid white;
    width: 100%;
    height: 100%;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    background-color: var(--botoes);
}
input[type='button']:hover{
    background-color: var(--principal);
}
