*{
    margin: 0;
    padding: 0;
}
:root{
    --principal:#006fff;  
    --secundaria:#2d2d2d; 
    --Textos:#1E1E1E; 
    --botoes:#FF5733;
    --bg-100:#F5ECD7; 
    --bg-200:#ebe2cd; 
    --bg-300:#c2baa6;
      

}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}
header{
    font-size: .9em;
    text-shadow: 1px 1px black;
    background-color:var(--principal);
    border-bottom: 1px solid white;
    padding: 20px;
}
header > nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > nav > #Titulo{
    text-align: center;
    margin:0px 20px 0px 10px;
}
section.itens-header{
    padding:7px;
    color: white;
    border: 1px solid white;
}
main{
    flex-grow: 1;
    padding: 10px;
    background-color: var(--secundaria);
    min-height: 100vh;
 
}
footer{
    border-top: 1px solid white;
    display:flex;
    width: 100%;
    bottom: 0px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: var(--principal);
}
footer > section{
    display: flex;
    align-items: center;
    color: white;
    margin: 15px;
    padding: 10px;
    width: 80%;
    border-radius: 4px;
    border: 1px solid white;
    
}
footer #creditos{
    margin-right: 20px;

}
a{
    text-decoration: none;
    color: white;
}

footer ul{
    display: flex;
}
footer ul li{
    margin-left: 10px;
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
}
footer ul li a{
    color: white;
    text-decoration: none;
}
#contatos{
    display: none;
}
