@media screen and (min-width:502px){
    section.itens-header{
        font-size: 1.2em;
        padding: 10px;
    }
    footer{
        display: flex;
        flex-direction: row;
    }
    footer section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 34%;
        border: 0;
        
    }
    ul{
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        align-items: center;
    }
    ul li{
        line-height: 40px;
    }
    #contatos{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #contatos ul{
        flex-direction: column;

    }

}