.aluguel{
    display: flex;
    color: #5e5effce;
    align-items: center;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
}
.veiculo{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
hr{
    border: 1px solid #8a8aff;
}
.sh{
    margin-top: 2px;
    display: none;
}
.s1{
    height: auto;
}
.s1 > h2{
    margin: 10px;
}
.s2{
    display: none;
    height: 300px;
    background: center  no-repeat;
    background-size: contain;
    animation: fechar 2s linear;
    animation-timing-function: ease;
    transition: 1s;
}
.s3{
    height: auto;
    margin-bottom: 22px;
}
.s3 > h3{
    max-width: 400px;
    border-radius: 10px;
    font-weight: bolder;
    text-shadow: 1px 1px black;
    border: 1px solid black;
    background-color: #d6d3d3;
    margin: 10px auto 10px auto;
}
.s3 > p{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-indent: 20px;
    text-align: justify;
    background-color: #e9e9e349;
    line-height: 27px;
    margin: 0px auto;
    max-width: 700px;

}
.fundo_carros{
    display: none;
    color: white;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 3px #000000cc;
}
.carros{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    animation: fechar 1s linear;
    animation-timing-function: ease;
}
@keyframes fechar{
    from{opacity: 0;}
    to{opacity: 1;}
    
}
.selecionar{
    font-weight: bolder;
}


